.outline {
  border: 1px solid black;
}

* {
  padding: 1px 0px;
  margin: 1px 0px;
  box-sizing: border-box;
  overflow: hidden; /* FUNDAMENTAL PARA QUE SE MANTENGA TAMAÑO PANTALLA Y NO APAREZCAN ESPACIOS EN BLANCO QUE SON LOS DESBORDAMIENTOS DE STRIPES */
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  /*  z-index: 2; */
}

.content{
  width: 100%;
  min-height: 100vh;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0px;
  /*   -------------------------- PARA CENTRAR TEXTO */
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* 5 HIJOS EN FORMA LISTADO DENTRO DIV CONTENT, COLOR Y ANIMACION*/

.content:nth-child(1) {
  background-color: #244f75;
  animation-name: stripe1;
  animation-duration: 1s;
  
}
.content:nth-child(2) {
  background-color: #60bfbf;
  animation-name: stripe2;
  animation-duration: 1.4s;
}

.content:nth-child(3) {
  background-color: #8c4b7e;
  animation-name: stripe3;
  animation-duration: 1.8s;

}

.content:nth-child(4) {
  background-color: #f8bb44;
  animation-name: stripe4;
  animation-duration: 2.2s;

 
}
.content:nth-child(5) {
  background-color: #f24b4b;
  animation-name: stripe5;
  animation-duration: 2.4s;

}

/* PSEUDOELEMENTO BEFORE AND USE OF SKEW*/

.content:before {
  content: "";
  position: absolute;
  z-index: -1;
  margin: 0px;
  padding: 0px;
  width: 100%; /*     width si lo pongo a 20% no se desplaza horizontalmente el vw */
  min-height: 100vh;
  background: white;
  opacity: 0.1;
  transform: skew(30deg);
  -webkit-transform: skew(30deg);

}

/*TRANSFORMACIONES A REALIZAR CUANDO SE POSA MOUSE SOBRE CADA COLUMNA*/

.content:hover:before {
  background-color: white;
  opacity: 0.1;
  transform: skew(0deg);
  -webkit-transform: skew(0deg);
  width: 20%;
  z-index: 1;
  transition: transform 0.6s; 
  }

/* ANIMACIONES FOTOGRAMAS COLUMNAS DE 0% A 100%*/ 

@keyframes stripe1 {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes stripe2 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes stripe3 {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes stripe4 {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes stripe5 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


/*CENTRADO LETRAS*/

.strip_tittle {
  color: white;
  align-items: center;
  font-size:4vw;
}



